<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm>
              <h1>Register</h1>
              <p class="text-medium-emphasis">Créer un compte</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="name" name="nom" [(ngModel)]="user.nom" cFormControl placeholder="nom" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="prenom" cFormControl placeholder="prenom" name="prenom" [(ngModel)]="user.prenom" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input autoComplete="email" cFormControl placeholder="email" [(ngModel)]="user.email" name="email" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input name="mdp" [(ngModel)]="user.mdp" autoComplete="new-password" cFormControl placeholder="Mot de passe" type="password" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="age" name="age" [(ngModel)]="user.age" cFormControl placeholder="age" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <textarea autoComplete="email" cFormControl placeholder="adresse" name="adresse" [(ngModel)]="user.adresses" >
                </textarea>
              </c-input-group>
              <div class="d-grid">
                <button (click)="addUser()" cButton color="success">S'inscrire</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
